<div class="container">
    <% @breeds.each do |breed| %>
    <%# raise %>
    <h3><%= breed.nameofbreed %></h3>
    <% breed.category.each do |breedc| %>
        <ul>
        <li><a href="/"><%= breedc %></a></li>
        </ul>
        <% end %>
    <% end  %>
</div>
