<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-4">
      <div class="form-groupe">
        <h2>new</h2>

          <%= simple_form_for @breed do |f| %>
        <% classe =   ["Druid", "War", "Rogue", "Mage"]  %>
        <% name = ["Dwarf", "Orc", "Gnome", "Elf"] %>
          <div class="form-inputs">
            <%= f.select :nameofbreed, collection: name %>
            <%= f.select :category, collection: classe %>
            <%= f.button :submit, class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
